<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container my-4">
    <h1 class="text-center">User Details</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>User Information</h4>
                </div>
                <div class="card-body">
                    <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
                    <p><strong>First Name:</strong> <span th:text="${user.firstName}"></span></p>
                    <p><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/}" class="btn btn-primary">Back to List</a>
                    <a th:href="@{/showFormForUpdate/{id}(id=${user.id})}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>